### 문제설명

124 나라가 있습니다. 124 나라에서는 10진법이 아닌 다음과 같은 자신들만의 규칙으로 수를 표현합니다.

- 124 나라에는 자연수만 존재합니다.
- 124 나라에는 모든 수를 표현할 때 1, 2, 4만 사용합니다.

### 제한사항

- n은 500,000,000이하의 자연수 입니다.

### 예시

In [55]:
example = [{"10진수": "1", "124나라":"1"}, {"10진수": "2", "124나라":"2"},{"10진수": "3", "124나라":"4"},{"10진수": "4", "124나라":"11"},{"10진수": "5", "124나라":"12"},{"10진수": "6", "124나라":"14"},{"10진수": "7", "124나라":"21"},{"10진수": "8", "124나라":"22"},{"10진수": "9", "124나라":"24"},{"10진수": "10", "124나라":"41"}]

In [56]:
pd.DataFrame(example)

  10진수 124나라
0    1     1
1    2     2
2    3     4
3    4    11
4    5    12
5    6    14
6    7    21
7    8    22
8    9    24
9   10    41

### code

In [52]:
def solution(n):
    ls = []
    ls.append(n%3)
    while True:
        n = n//3
        if n < 3:
            ls.append(n)
            break
        else:
            ls.append(n%3)

    m = 0
    new_ls =[]
    for num in ls:
        num = num -m
        if num == 0:
            new_ls.append("4")
            m = 1
        elif num == -1:
            new_ls.append("2")
            m = 1
        else :
            new_ls.append(str(num))
            m = 0
    
    new_ls = new_ls[::-1]

    if new_ls[0] == "4":
        new_ls.pop(0)

    new_ls = "".join(new_ls)
    return new_ls